// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

$primary: #ff7b25;
$secondary: #6b5b95;
$body-bg: #eeeeee;

@import '~bootstrap/scss/bootstrap';
